/* Main Dashboard Layout */
.preview {
    flex-grow: 1;
    margin-left: 60px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 20px;
}

.profile {
    padding-bottom: 100px;
}

.name {
    color: var(--text-color);
}

.description {
    color: var(--text-color);
}

.ps {
    color: var(--text-color);
}

/*
.card {
    text-align: center;
    max-width: 550px;
    width: 90%;
    margin: 5rem auto;
    margin-bottom: 20px;
    background-color: var(--background-color-multi);
    padding: 60px 60px 60px 60px;
    border-radius: 20px 20px 0px 0px;
}
*/

.card {
    border-radius: 15px;
}

.header {
    width: 100%;
    height: 200px;
}

.cardsAdd {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    color: var(--text-color-sub);
}

.cardAddButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 33px;
    font-size: 13px;
    background-color: var(--background-color-multi);
    border: 1px solid var(--border-color-strong);
    color: var(--text-color);
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cardAddButton:hover {
    background-color: var(--background-color-sub);
}

/* -------------------------------------- Hover Effect Mixin -------------------------------------- */

/* Header */
.headerEdit {
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto;
}

.headerImage {
    width: 100%;
    height: auto;
    display: block;
    transition: all 0.3s ease;
}

.headerEdit:hover .headerImage {
    filter: brightness(0.3);
}

.headerEdit:hover .editIconL {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.2);
}

/* Icon */
.iconEdit {
    position: relative;
    display: inline-block;
}

.iconImage {
    display: block;
    transition: all 0.3s ease;
    border: 1px solid var(---border-color);
}

.iconEdit:hover .iconImage {
    filter: brightness(0.3);
}

.iconEdit:hover .editIconM {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.2);
}

/* Link */
.linkEdit {
    position: relative;
    display: inline-block;
}

.linkcontent {
    border-radius: 15px;
}

.linkEdit:hover .linkcontent {
    filter: brightness(0.3);
}

.linkEdit:hover .editIconM {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.2);
}

/* Image */
.imageEdit {
    position: relative;
    display: inline-block;
    border: 0;
}

.imageBackground {
    border: 1px solid #00000000;
    border-radius: 15px;
}

.imageEdit:hover .imageBackground {
    filter: brightness(0.3);
}

.imageEdit:hover .imageOverlay {
    filter: brightness(0.3);
}

.imageEdit:hover .editIconM {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.2);
}

/* Dialog/Card/Edit */
.cardIconEdit {
    position: relative;
    display: inline-block;
}

.cardIconEdit:hover .imageBackground {
    filter: brightness(0.3);
}

.cardIconEdit:hover .imageOverlay {
    filter: brightness(0.3);
}

.cardIconEdit:hover .editIconM {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.2);
}


/* Edit Icon */
.editIconL {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--text-color-translucent);
    font-size: 32px;
    opacity: 0;
    cursor: grab;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.editIconM {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--text-color-translucent);
    font-size: 20px;
    opacity: 0;
    cursor: grab;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

/* My Info Hover Under Line */
.myinfoEdit h1:hover {
    text-decoration: underline;
    cursor: grab;
}

.myinfoEdit p:hover {
    text-decoration: underline;
    cursor: grab;
}

/* -------------------------------------- Hover Effect Mixin -------------------------------------- */

/* ------------------------------------------ Move Cards ------------------------------------------ */
.move {
    border-top: 1px solid var(---border-color);
    background: linear-gradient(to bottom, var(--background-color-multi), transparent);
    border-radius: 15px;
    width: 100%;
    height: auto;
    transition: all 0.3s ease;
    padding: 0 0 0px 0;
    margin-top: 20px;
}

.moveIcon {
    cursor: grabbing;
    color: var(--text-color-sub);
    font-size: 25px;
}

.move .noMarginTop {
    margin-top: 0;
}

/* ------------------------------------------ Move Cards ------------------------------------------ */